
  <!-- <input type="text" name="msg" id="msg" required><br> 
  <form name="register" id="register" (submit)="registerForm()">
    <label>First Name</label><br>
    <input type="text" name="firstname" id="firstname" /><br>
    <label>Last Name</label><br>
    <input type="text" name="lastname" id="lastname" /><br>
    <label>Email</label><br>
    <input type="email" name="email" id="email" /><br>
    <label>Password</label><br>
    <input type="password" name="password" id="password" /><br>
    <button type="submit">submit</button>
  </form> -->
<!-- <app-demo></app-demo> -->
<!-- <app-product></app-product> -->
<!-- <app-product-list></app-product-list> -->



<app-currency></app-currency>
<!-- <app-product-list [selectedCurrency]="currentCurrency"></app-product-list>
<app-checkout></app-checkout> -->

<!-- <input type="text" appNumbersOnly="4"/>
<input type="text" [appNumbersOnly]="allowedLength"/> -->
<a routerLink="/">Home</a>
<a routerLink="/products">Products</a>
<a routerLink="/checkout">Checkout</a>

<router-outlet></router-outlet>